#rooot {
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: lightsalmon;
}

.loogo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.loogo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.loogo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logomusa {
    animation: logo-spin infinite 35ms linear;
  }
}

.caard {
  padding: 1em;
}

.read-the-doocs {
  color: #e38686;
}
